<div class="container-fluid">
  <div class="row">
    <div class="header col-xs-12">
        <h2><i class="fa fa-beer" aria-hidden="true"></i> Uber</h2>
    </div>


    <section class="col-md-6 col-md-offset-3">
      <p class="text-center">Get an Uber</p>

      <span>
        <a class="text-center" href="https://m.uber.com/ul?client_id=gY6iGb3XfnCI35tZ968HvPWA1rmgBSK1&action=setPickup&pickup[latitude]=39.117181&pickup[longitude]=-84.520108&pickup[nickname]=Rhinegeist&pickup[formatted_address]=1910%20Elm%20St%2C%20Cincinnati%2C%20OH%2045202&dropoff[latitude]=39.160671&dropoff[longitude]=-84.542020&dropoff[nickname]=Urban%20Artifact&dropoff[formatted_address]=1660%20Blue%20Rock%20St%2C%20Cincinnati%2C%20OH%2045223&product_id=68cddf62-ea57-4cdf-9c63-dfbfebfd7095">
          <img src="/images/uber.png">
        </a>
      </span>

    </section>
  </div>
</div>
