body {
  font-family: 'Cairo', sans-serif;
}
.header {
  background-color: #1a1a1a;
  color: #fff;
  height: 80px;
}
.header h2 {
  text-align: center;
}
.header i {
  margin-right: 10px;
}
.homeLogo {
  margin: 0px auto;
  display: block;
  max-width: 100%;
  margin-top: 20px;
}
.homeButtons .btn {
  margin-top: 20px;
  background-color: white;
  background-image: none;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  padding: 15px 0px;
  transition: background-color 0.9s ease;
}
.homeButtons .btn:hover {
  background-color: black;
  color: #fff;
}
.homeButtons .text {
  color: black;
  margin-top: 20px;
  text-decoration: uppercase;
  margin: 0px auto;
  display: inline-block;
  margin-top: 15px;
}
.createForm {
  margin-top: 30px;
}
.createForm input {
  margin-bottom: 20px;
  color: #000;
  border: 1px solid #c1c1c1;
}
.brewery {
  padding: 20px;
}
.brewery img {
  max-width: 100%;
  max-height: 100px;
}
.brewery.active img {
  border: 2px solid grey;
}
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.social {
  padding-right: 5px;
  padding-left: 5px;
  color: #000;
}
