
body {
    font-family: 'Cairo', sans-serif;
}

header {
	background-color:lighten(black,10);
	color:#fff;
	height:80px;

	h2 {
		text-align:center;
	}

	i {
		margin-right:10px;
	}
}

.homeLogo {
	margin:0px auto;
	display:block;
	max-width:100%;
	margin-top:20px;
}

.homeButtons .btn {
	margin-top:20px;
	background-color:white;
	background-image:none;
	border:2px solid black;
	color:black;
	font-size:20px;
	padding:15px 0px;
	transition: background-color 0.9s ease;

	&:hover {
		background-color:black;
		color:#fff;
	}
}

.homeButtons .text {
	color:black;
	margin-top:20px;
	text-decoration: uppercase;
	margin:0px auto;
	display:inline-block;
	margin-top:15px;
}

.createForm {
	margin-top:30px;

	input {
		margin-bottom:20px;
		color:#000;
		border:1px solid darken(#DADADA,10);
	}
}